*.egg-info
*.exe
*.swp
.*~
.DS_Store
._*
.idea
*.iml
.metadata
.phpunit.result.cache
.recommenders
.swiftpm
.venv
.vs
.vscode
*/node_modules

.ipynb_checkpoints
__pycache__
*/__pycache__
.env
*/.env
scratch